absl-py==2.0.0
attrs==23.1.0
boltons==23.0.0
brotlipy==0.7.0
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==2.0.4
colorama==0.4.6
conda==23.9.0
conda-content-trust==0.2.0
conda-libmamba-solver==23.9.1
conda-package-handling==2.2.0
conda_package_streaming==0.9.0
contourpy==1.2.0
cryptography==41.0.3
cycler==0.12.1
flatbuffers==23.5.26
fonttools==4.45.1
idna==3.4
jsonpatch==1.32
jsonpointer==2.1
kiwisolver==1.4.5
libmambapy==1.5.1
matplotlib==3.8.2
mediapipe==0.10.8
menuinst==1.4.19
numpy==1.26.2
opencv-contrib-python==4.8.1.78
opencv-python==4.8.1.78
packaging==23.1
Pillow==10.1.0
pip==23.2.1
pluggy==1.0.0
protobuf==3.20.3
pycosat==0.6.6
pycparser==2.21
pygame==2.5.2
pyOpenSSL==23.2.0
pyparsing==3.1.1
PySocks==1.7.1
python-dateutil==2.8.2
requests==2.31.0
ruamel.yaml==0.17.21
setuptools==68.0.0
six==1.16.0
sounddevice==0.4.6
tqdm==4.65.0
truststore==0.8.0
urllib3==1.26.16
wheel==0.41.2
win-inet-pton==1.1.0
zstandard==0.19.0
